<ul class="appointments_holder">
  <li *ngFor="let appointment of data.getAppointments(day | date:'yyyy-MM-dd', hour - 1)" id="{{appointment.id}}">
    <span *ngIf="appointment.available == true && !realtime.reservedAppointments.includes(appointment.id) && !realtime.schedualedAppointments.includes(appointment.id)"
          class="available"
          [style.height.px]="getAppointmentPosition(day | date:'yyyy-MM-dd', hour - 1, appointment.id)['height']"
          [style.lineHeight.px]="getAppointmentPosition(day | date:'yyyy-MM-dd', hour - 1, appointment.id)['height']"
          [style.marginTop.px]="getAppointmentPosition(day | date:'yyyy-MM-dd', hour - 1, appointment.id)['topOffset']"
          (click)="realtime.reserveAppointment(appointment.id)">
          Available
    </span>
    <span *ngIf="appointment.available == false || realtime.schedualedAppointments.includes(appointment.id)"
          class="scheduled"
          [style.height.px]="getAppointmentPosition(day | date:'yyyy-MM-dd', hour - 1, appointment.id)['height']"
          [style.lineHeight.px]="getAppointmentPosition(day | date:'yyyy-MM-dd', hour - 1, appointment.id)['height']"
          [style.marginTop.px]="getAppointmentPosition(day | date:'yyyy-MM-dd', hour - 1, appointment.id)['topOffset']"
          >Scheduled</span>
    <span *ngIf="appointment.available == true && realtime.reservedAppointments.includes(appointment.id)  && !realtime.schedualedAppointments.includes(appointment.id)"
          class="reserved"
          [style.height.px]="getAppointmentPosition(day | date:'yyyy-MM-dd', hour - 1, appointment.id)['height']"
          [style.lineHeight.px]="getAppointmentPosition(day | date:'yyyy-MM-dd', hour - 1, appointment.id)['height']"
          [style.marginTop.px]="getAppointmentPosition(day | date:'yyyy-MM-dd', hour - 1, appointment.id)['topOffset']"
          >Reserved
          </span>

    <div class="new_appointment_container" id="appointment.id" *ngIf="realtime.isAppointmentReseved == true && realtime.appointmentResevedID == appointment.id  && !realtime.schedualedAppointments.includes(appointment.id)">

      <form [formGroup]="rForm" (ngSubmit)="schedualAppointment(rForm.value)">
        <span class="close_form" (click)="realtime.unreserveAppointment(appointment.id)">&#10005;</span>
        <div class="form-container">
          <div class="row columns">
            <h1>New appointment</h1>
            <p>{{appointment.startTime | date: 'short'}} - {{appointment.endTime | date: 'shortTime'}}</p>

            <label>
              <span class="field_title">Name</span>
              <input type="text" formControlName="name">
            </label>

            <label>
              <span class="field_title">Email</span>
              <input type="text" formControlName="email">
            </label>

            <label>
              <span class="field_title">Phone #</span>
              <input type="text" formControlName="phoneNumber">
            </label>

            <label>
              <button type="submit" class="btn expanded submitBTN" [disabled]="!rForm.valid">Submit</button>
              <button type="button" class="btn btn-cancel cancelBTN" (click)="realtime.unreserveAppointment(appointment.id)">Cancel</button>
            </label>


          </div>
        </div>
      </form>

    </div>

  </li>
</ul>
