<div class="header_container">
  <div class="header_title_container">
    <span class="header_title date">
      {{this.weekDays[0] | date: 'MMMM yyyy' }}
    </span>
    <span class="navigation_buttons">
      <button type="button" name="nextWeekBTN" class="navigation_btn previous_week" (click)="showPrevWeek()">&#10094;</button>
      <button type="button" name="currentWeekBTN" class="navigation_btn current_week" (click)="showCurrentWeek()">This Week</button>
      <button type="button" name="nextWeekBTN" class="navigation_btn next_week" (click)="showNextWeek()">&#10095;</button>
    </span>
  </div>
  <div class="calendar_table_header">
    <table>
      <thead>
        <tr>
          <th></th>
          <th *ngFor="let day of this.weekDays">
            <span class="hidden-xs">{{day | date: 'EE'}}, </span>
            {{day | date: 'dd' }}
          </th>
        <tr>
      </thead>
    </table>
  </div>
</div>
<table id="calendarView" border="0" cellpadding="0" cellmargin="0">
  <tbody *ngIf="data.appointments">
    <tr>
      <td class="slotTitle">
        <span class="slot_time">
          12AM
        </span>
      </td>
      <td *ngFor="let day of weekDays">
        <app-slot *ngIf="data.hasAppointments(day | date:'yyyy-MM-dd', 12) == true" [day]=day [hour]=12></app-slot>
      </td>
    </tr>
    <tr *ngFor="let hour of createRange(23)">
      <td class="slotTitle">
        <span class="slot_time">

          {{ hour > 11 ? ( hour == 12 ? hour : hour - 12 ) + "PM" : hour + "AM"}}


        </span>
      </td>
      <td *ngFor="let day of weekDays">
        <app-slot *ngIf="data.hasAppointments(day | date:'yyyy-MM-dd', hour) == true" [day]=day [hour]=hour></app-slot>
      </td>
    </tr>
    <tr>
      <td class="slotTitle">
        <span class="slot_time">
          12AM
        </span>
      </td>
    </tr>
  </tbody>
</table>
